@{
    ViewData["Title"] = "Financial Dashboard";
}

<div class="row mb-4">

    <div class="col-md-3">
        <div class="card p-3 shadow-sm">
            <h5>Select Month</h5>
            <input type="month" id="month" class="form-control" onchange="loadMonthData()">
        </div>
    </div>

    <div class="col-md-9">
        <div class="card p-3 shadow-sm">
            <div class="row text-center">
                <div class="col-md-4">
                    <h6>Total Income</h6>
                    <h4 class="text-success">R<span id="total-income">0.00</span></h4>
                </div>
                <div class="col-md-4">
                    <h6>Total Expenses</h6>
                    <h4 class="text-danger">R<span id="total-expenses">0.00</span></h4>
                </div>
                <div class="col-md-4">
                    <h6>Balance</h6>
                    <h4 id="balance" class="fw-bold">R0.00</h4>
                </div>
            </div>
        </div>
    </div>

</div>

<hr />

<h4>Income Categories</h4>
<div class="row" id="income-sections"></div>

<hr />

<h4>Expense Categories</h4>
<div class="row" id="expense-sections"></div>

<hr />

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card p-3 shadow-sm">
            <h5>Expense Breakdown</h5>
            <canvas id="expensePieChart"></canvas>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card p-3 shadow-sm">
            <h5>Monthly Comparison</h5>
            <canvas id="monthlyChart"></canvas>
        </div>
    </div>
</div>
